<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.blog.system.action.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemDailyServlet</servlet-name>
    <servlet-class>com.blog.system.action.DailyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseDailyServlet</servlet-name>
    <servlet-class>com.blog.use.action.DailyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemCommentServlet</servlet-name>
    <servlet-class>com.blog.system.action.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemMessageServlet</servlet-name>
    <servlet-class>com.blog.system.action.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseDailyCommentServlet</servlet-name>
    <servlet-class>com.blog.use.action.DailyCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemPhotoServlet</servlet-name>
    <servlet-class>com.blog.system.action.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UseUserServlet</servlet-name>
    <servlet-class>com.blog.use.action.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsePhotoServlet</servlet-name>
    <servlet-class>com.blog.use.action.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Daily_CServlet</servlet-name>
    <servlet-class>com.blog.system.action.Daily_CServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Photo_Cservlet</servlet-name>
    <servlet-class>com.blog.system.action.Photo_Cservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsePhotoCommentServlet</servlet-name>
    <servlet-class>com.blog.use.action.PhotoCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.blog.use.action.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.blog.use.action.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.blog.use.action.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BlogListServlet</servlet-name>
    <servlet-class>com.blog.use.action.BlogListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoAlbumListServlet</servlet-name>
    <servlet-class>com.blog.use.action.PhotoalbumServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/system/userdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemDailyServlet</servlet-name>
    <url-pattern>/system/dailydo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseUserServlet</servlet-name>
    <url-pattern>/use/userdo</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UseDailyServlet</servlet-name>
    <url-pattern>/use/dailydo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemMessageServlet</servlet-name>
    <url-pattern>/system/messagedo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemCommentServlet</servlet-name>
    <url-pattern>/system/commentdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UseDailyCommentServlet</servlet-name>
    <url-pattern>/use/dailycdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemPhotoServlet</servlet-name>
    <url-pattern>/system/photodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsePhotoServlet</servlet-name>
    <url-pattern>/use/photodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Daily_CServlet</servlet-name>
    <url-pattern>/system/dailycdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Photo_Cservlet</servlet-name>
    <url-pattern>/system/photocdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsePhotoCommentServlet</servlet-name>
    <url-pattern>/use/photocdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/use/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/use/messagedo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/use/indexdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlogListServlet</servlet-name>
    <url-pattern>/use/bloglistdo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoAlbumListServlet</servlet-name>
    <url-pattern>/use/photoalbumlistdo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/use/bloglistdo</welcome-file>
  </welcome-file-list>
</web-app>
